.div{
    margin-left:1px;
    padding-top: 8px;
    background-color: rgb(245, 245, 245);
    width: 519px;
    border-radius: 5px;
    align-content: center;
    padding-right: 8px;
    margin-bottom: 15px;
}

.icon_div{
    width: 20px;
}

.button-stayle{
    border:none;
}